.cd-container {
    width: 1200px;
}
.cd-container {
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;
}
.cd-content {
    margin-top: 24px;
}
.cd-content {
    position: relative;
    border-radius: 4px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.cd-sidebar {
    width: 200px;
    background: #fff;
    -webkit-box-shadow: 0 0 4px 0 rgb(0 0 0  1%), 0 4px 4px 0 rgb(0 0 0 / 4%);
    -moz-box-shadow: 0 0 4px 0 rgba(0,0,0,.01),0 4px 4px 0 rgba(0,0,0,.04);
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 1%), 0 4px 4px 0 rgb(0 0 0 / 4%);
    padding: 16px 0;
    position: absolute;
    height: 100%;
    border-radius: 4px 0 0 4px;
}
.cd-sidebar__list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
.cd-sidebar__list .cd-sidebar__heading {
    list-style-type: none;
    color: rgba(0,0,0,.32);
    font-size: 12px;
    padding: 18px 24px;
}
.cd-sidebar__list li {
    list-style: none;
    line-height: 1;
}
.cd-sidebar__list .cd-sidebar__item {
    padding: 12px 0;
}
.cd-sidebar__list .cd-sidebar__heading {
    list-style-type: none;
    color: rgba(0,0,0,.32);
    font-size: 12px;
    padding: 18px 24px;
}
.cd-sidebar__list li {
    list-style: none;
    line-height: 1;
}

.cd-sidebar__list .cd-sidebar__item>a {
    padding: 5px 24px 5px 36px;
    border-left: 4px solid transparent;
    display: block;
    color: rgba(0,0,0,.56);
    font-weight: 500;
}
a {
    text-decoration: none;
}
a {
    color: #43bc60;
}
a, a:focus, a:hover {
    text-decoration: none;
}
a {
    color: #43bc60;
}
a {
    background-color: transparent;
}
.cd-sidebar__list .cd-sidebar__item.active {
    background: none;
}
.cd-sidebar__list .cd-sidebar__item {
    padding: 12px 0;
}
.cd-sidebar__list li {
    list-style: none;
    line-height: 1;
}
.cd-main {
    margin-left: 200px;
    background: #fff;
    border-radius: 0 4px 4px 0;
    -webkit-box-shadow: 0 0 4px 0 rgb(0 0 0 / 1%), 0 4px 4px 0 rgb(0 0 0 / 4%);
    -moz-box-shadow: 0 0 4px 0 rgba(0,0,0,.01),0 4px 4px 0 rgba(0,0,0,.04);
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 1%), 0 4px 4px 0 rgb(0 0 0 / 4%);
}










.cd-main__heading {
    padding: 24px 32px;
    box-shadow: inset 0 -1px 0 0 rgb(0 0 0 / 8%);
}
.cd-main__heading .cd-main__title {
    font-size: 16px;
    color: rgba(0,0,0,.88);
    line-height: 1;
    margin: 0 auto;
    font-weight: 500;
}
.cd-main__body {
    padding: 32px;
    min-height: 800px;
}
.row {
    margin-left: -10px;
    margin-right: -10px;
}
.col-md-11 {
    float: left;
    width: 91.66666667%;
}
.cd-row-flex-space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.cd-row-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
.cd-md-24 {
    float: left;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 12px;
    padding-right: 12px;
}
.cd-mb40 {
    margin-bottom: 40px!important;
}
.cd-mr24 {
    margin-right: 24px!important;
}
.cd-image-upload {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    vertical-align: middle;
}
.cd-image-upload .cd-avatar {
    position: relative;
    display: block;
}
.cd-avatar.cd-avatar-lg {
    width: 128px;
    height: 128px;
    padding: 4px;
}
.cd-avatar.cd-avatar-square {
    border-radius: 4px;
}
.cd-avatar {
    border-radius: 50%;
    width: 80px;
    padding: 3px;
    background: #fafafa;
    display: inline-block;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.cd-image-upload .image-upload-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    border-radius: 4px;
    background: rgba(0,0,0,.7);
    color: #fff;
    text-align: center;
    line-height: 1px;
    font-size: 14px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.cd-image-upload .image-upload-content {
    position: absolute;
    left: 0;
    right: 0;
    height: 70px;
    top: 50%;
    margin-top: -35px;
}
.cd-image-upload .image-upload-mask i {
    font-size: 48px;
    display: block;
    margin-bottom: 8px;
}
.cd-icon {
    line-height: 1;
}
.cd-icon {
    font-family: codeages-icon!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.cd-image-upload .image-upload-label {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1;
    margin-bottom: 0;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
input[type=file] {
    display: block;
}
.hidden {
    display: none!important;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.image-upload-tip {
    position: absolute;
    top: 135px;
    left: 10px;
    right: 0;
    font-size: 12px;
    line-height: 1;
    color: rgba(0,0,0,.32);
}
p {
    margin: 0 0 10px;
}
.cd-form-group.cd-form-group-inline {
    display: inline-block;
}
.cd-form-group-action {
    position: relative;
    padding-right: 160px;
}
.cd-form-group {
    margin-bottom: 32px;
    line-height: 1;
}
.form-group {
    margin-bottom: 15px;
}
.cd-form-group>label {
    font-weight: 400;
    color: rgba(0,0,0,.56);
    line-height: 1;
    margin-bottom: 0;
    font-size: 12px;
    display: block;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.cd-form-group-action .static-text {
    margin-top: 8px;
    line-height: 1;
    color: rgba(0,0,0,.88);
}
.cd-form-group .form-control {
    display: block;
    width: 100%;
    font-size: 14px;
    background-color: #fff;
    background-image: none;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.16);
    border-radius: 0;
    padding: 5px 0 4px;
    line-height: 20px;
    height: 30px;
    color: rgba(0,0,0,.88);
    -webkit-appearance: none;
    appearance: none;
}
.form-control {
    color: #616161;
    border-color: #e1e1e1;
}
.form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control, output {
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #919191;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.cd-form-group-action .action-button, .cd-form-group-action .captcha-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 152px;
}
.cd-btn.cd-btn-primary {
    color: #fff;
    background: #43bc60;
    border-color: #43bc60;
}
.btn {
    border-radius: 0;
}
.cd-btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    font-weight: 500;
    padding: 9px 12px;
    line-height: 1;
    border: 1px solid transparent;
    background: none;
    border-radius: 4px;
    outline: none;
}
.btn, .btn.active, .btn.focus, .btn:focus, .btn:hover {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.cd-btn.cd-btn-flat-default, .cd-btn.cd-btn-link-default {
    color: rgba(0,0,0,.88);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.btn {
    border-radius: 0;
}
.cd-btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    font-weight: 500;
    padding: 9px 12px;
    line-height: 1;
    border: 1px solid transparent;
    background: none;
    border-radius: 4px;
    outline: none;
}
.btn, .btn.active, .btn.focus, .btn:focus, .btn:hover {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.cd-md-11 {
    float: left;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 45.83333333%;
    position: relative;
    min-height: 1px;
    padding-left: 12px;
    padding-right: 12px;
}
.cd-form-group {
    margin-bottom: 32px;
    line-height: 1;
}
.form-group {
    margin-bottom: 15px;
}
.cd-form-group>label {
    font-weight: 400;
    color: rgba(0,0,0,.56);
    line-height: 1;
    margin-bottom: 0;
    font-size: 12px;
    display: block;
}
.cd-form-group .form-control, .cd-form-group .form-control:hover {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.cd-form-group .form-control {
    display: block;
    width: 100%;
    font-size: 14px;
    background-color: #fff;
    background-image: none;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.16);
    border-radius: 0;
    padding: 5px 0 4px;
    line-height: 20px;
    height: 30px;
    color: rgba(0,0,0,.88);
    -webkit-appearance: none;
    appearance: none;
}
.form-control {
    color: #616161;
    border-color: #e1e1e1;
}
.form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control, output {
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #919191;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.cd-md-11 {
    float: left;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 45.83333333%;
}
.cd-form-group {
    margin-bottom: 32px;
    line-height: 1;
}
.form-group {
    margin-bottom: 15px;
}
.cd-radio-group {
    margin-bottom: 16px;
}
label+.cd-radio-group .cd-radio {
    margin-top: 12px;
    margin-bottom: 4px;
}
.cd-radio {
    position: relative;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    display: inline-block;
    margin-bottom: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.cd-radio-group .cd-radio+.cd-radio {
    margin-left: 40px;
}
label+.cd-radio-group .cd-radio {
    margin-top: 12px;
    margin-bottom: 4px;
}
.cd-radio {
    position: relative;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    display: inline-block;
    margin-bottom: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.cd-md-24 {
    float: left;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 12px;
    padding-right: 12px;
}