#content-container {
    margin: 30px auto;
    min-height: 400px;
}
.container {
    width: 1160px;
    padding-left: 10px;
    padding-right: 10px
}
.login-section {
    margin: 50px auto;
    width: 460px;
    min-height: 400px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.es-section {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #e4ecf3;
}
.login-section .logon-tab {
    margin: -15px -15px 0;
}
.login-section .logon-tab>a.active {
    background-color: #fff;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.login-section .logon-tab>a, .login-section .logon-tab>a:hover {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.login-section .logon-tab>a {
    display: block;
    padding: 20px;
    float: left;
    width: 50%;
    font-size: 16px;
    text-align: center;
    color: #616161;
    background-color: #f5f5f5;
}
a {
    text-decoration: none;
}
a {
    color: #43bc60;
}
a, a:focus, a:hover {
    text-decoration: none;
}
a {
    color: #43bc60;
}
a {
    background-color: transparent;
}
.login-section .login-main {
    padding: 40px 45px 20px;
}
.mbl {
    margin-bottom: 20px!important;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.form-control {
    color: #616161;
    border-color: #e1e1e1;
}
.input-lg {
    line-height: 1.3333333;
    border-radius: 4px;
    height: 40px;
    padding: 8px 12px;
    font-size: 14px;
}
.form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control, output {
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #919191;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.help-block {
    margin-bottom: 0;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #a1a1a1;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.btn.btn-lg {
    font-size: 14px;
    padding: 12px 35px;
}
.btn-primary {
    border-color: #3bb149;
    background-color: #3bb149;
}
.btn {
    border-radius: 0;
}
.btn-primary {
    border-color: #36964d;
    background-color: #43bc60;
    color: #fff;
}
.btn, .btn.active, .btn.focus, .btn:focus, .btn:hover {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 4px;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.link-primary {
    cursor: pointer;
}
.link-primary, .link-white:hover {
    color: #43bc60!important;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
a {
    text-decoration: none;
}
a {
    color: #43bc60;
}
a, a:focus, a:hover {
    text-decoration: none;
}
a {
    color: #43bc60;
}
a {
    background-color: transparent;
}
.mhs {
    margin-left: 5px!important;
    margin-right: 5px!important;
}
.color-gray {
    color: #919191!important;
}
.link-primary {
    cursor: pointer;
}
.link-primary, .link-white:hover {
    color: #43bc60!important;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.social-login {
    position: relative;
    text-align: center;
    margin-top: 30px;
    z-index: 1;
}
.social-login>span {
    padding: 0 10px;
    z-index: 1;
    background-color: #fff;
}.social-login .social-icon.social-qq {
    border: 2px solid #19a9f1;
    position: relative;
}
.social-login .social-icon {
    display: inline-block;
    margin: 0 8px;
    border: 2px solid #919191;
    color: #919191;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 33px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.social-login .social-icon.social-weixin {
    border: 2px solid #00bb00;
    position: relative;
}