<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/addBook.css"/>
    <script src="js/vue.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="../js/url.js"></script>
    <script type="text/javascript" src="js/fileUp.js"></script>
    <script type="text/javascript" src="js/picture.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/ajaxfileupload.js"></script>
</head>
<body>
<!--取出上一个页面上带来的page的值-->

<div id="addAll">
    <div id="nav">
        <p>课程管理>新增课程</p>
    </div>

    <div id="table">
        <div class="progress">
            <div style="background-color: blue;padding: 5px 0px 0px 0px;width: 0%"></div>
        </div>
        <form id="uploadForm" style="display:block; width: auto">
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp视频<input style="display:inline;" class="btn btn-default" id="img" type="file" name="upfile" multiple="multiple"></input>
            <input class="btn btn-default" type="button" value="上传" name="up" onclick="doUploadForm()">

        </form>
        <form id="uploadForm1" style="display:block; width: auto">
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            视频封面<input style="display:inline;" class="btn btn-default"  type="file" name="upfile" multiple="multiple"></input>
            <input class="btn btn-default" type="button" value="上传" name="up" onclick="doUploadPicture()">

        </form>
        <form id="myform" onsubmit="submitNo(event)" enctype="multipart/form-data">
            <table>
                <tr>
                    <td class="one">课程名称</td>
                    <td><input type="text" name="pName" class="two" v-model="video_name" ></td>
                </tr>
                <tr>
                    <td class="one">课程介绍</td>
                    <td><input type="text" name="pContent" class="two" v-model="description"></td>
                </tr>
                <tr>
                    <td class="one">课程时长</td>
                    <td><input type="text" name="pNumber" class="two" v-model="time"></td>
                </tr>
                <tr>
                    <td class="one">上传时间</td>
                    <td><input type="text" name="pNumber" class="two" v-model="load_time"></td>
                </tr>
                <tr>
                    <td class="one">点击量</td>
                    <td><input type="text" name="pNumber" class="two" v-model="click"></td>
                </tr>
                <td class="one">视频路径</td>
                <td><input type="text" name="filePath" class="two" v-model="video_path"></td>
                <tr>
                    <td class="one">封面路径</td>
                    <td><input type="text" name="pNumber" class="two" v-model="picture_path"></td>
                </tr>
                <tr>
                    <td class="one">用户id</td>
                    <td><input type="text" name="pNumber" class="two" v-model="user_id"></td>
                </tr>
                <tr>
                    <td class="one">类型1</td>
                    <td><input type="text" name="pNumber" class="two" v-model="type_id"></td>
                </tr>
                <tr>
                    <td class="one">类型2</td>
                    <td><input type="text" name="pNumber" class="two" v-model="type_id2"></td>
                </tr>
                <tr>
                    <td class="one">价格</td>
                    <td><input type="text" name="pNumber" class="two" v-model="price"></td>
                </tr>

                <tr>
                    <td>
                        <input type="submit" value="提交" class="btn btn-success">
                    </td>
                    <td>
                        <input type="reset" value="取消" class="btn btn-default" onclick="myclose()">
                        <script type="text/javascript">
                            function myclose() {
                                // window.location = "/prod/split.action?page=" + ispage;
                                //两种风格跳转
                                // window.location = "manageUser.html" ;
                                window.location = "manageClass.html" ;
                            }
                        </script>
                    </td>
                </tr>
            </table>
        </form>

    </div>
</div>

</body>
<script>
    let vm = new Vue({
        el:"#addAll",
        data:{
            video_id:1,
            video_name:"java零基础",
            description:"适合java零基础的学生学习",
            time:"02:01:58",
            load_time:"02:15:35",
            click:10000,
            video_path:"baidu.com",
            picture_path:"4399.com",
            user_id:98,
            type_id:2,
            type_id2:5,
            price:100
        },
        mounted:function (){
            //接受用户上传时的用户id
            var getRequest = GetRequest();
            var userId = getRequest['userId'];
            this.user_id=userId
            console.log(this.user_id)
        }
    })
 //表单的异步提交
 function submitNo(e){
     e.preventDefault()
     $.ajax({
         url:"http://localhost:8080//addVideo",
         type: "post",
         dataType:"text",
         data:{
             "videoId":vm.video_id,
             "videoName":vm.video_name,
             "videoDescription":vm.description,
             "videoTime":vm.time,
             "videoUpdateTime":vm.load_time,
             "videoClick":vm.click,
             "videoPath":vm.video_path,
             "videoPicturePath":vm.picture_path,
             "userId":vm.user_id,
             "videoFirsttypeId":vm.type_id,
             "videoPrice":vm.price,
             "videoSecondtypeId":vm.type_id2
         },
         success:function (){
             // alert("成功")
             window.location.href="manageClass.html"
         },
         error:function (req){
             alert("失败")
             // console.log(req)
         }
     })
 }
</script>
</html>