<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/Use_id.js"></script>
    <script src="js/vue.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/bright.css"/>
    <link rel="stylesheet" href="css/addBook.css"/>
    <title></title>
</head>
<script type="text/javascript">
    //全选复选框功能实现
    function allClick() {
        //获得当前点击后全选按钮的状态
        var flag = $("#all").prop("checked");
        //将此状态赋值给下面五个复选框
        $("input[name='ck']").each(function () {
            this.checked = flag;
        });
    }
    //单个复选框点击改变全选复选框功能实现
    function ckClick() {

        //得到下面五个复选框的个数
        var fiveLength = $("input[name='ck']").length;
        //得到下面五个复选框被选中的个数
        var checkedLength = $("input[name='ck']:checked").length;
        //进行对比,改变全选复选框的状态
        if (fiveLength == checkedLength) {
            $("#all").prop("checked", true);
        } else {
            $("#all").prop("checked", false);
        }
    }
    //获取课程信息
    let getClazz=function (){
        var pageNum=sessionStorage.getItem("pageNum");
        if (pageNum==null){
            pageNum=1
        }
        $.ajax({
            url: "http://localhost:8080/ajaxSplitVideo",
            type: "post",
            data: {"pageNum":pageNum},
            dataType: "json",
            success: function (req) {
                vm.clazzs = req.list
                vm.pages=req.pages
                vm.pageNum=req.pageNum
                vm.prePage=req.prePage
                vm.nextPage=req.nextPage
                console.log(req)
            }
        })
    }
    //获取分页信息
    let getPage=function (){
        $.ajax({
            url: "http://localhost:3000/page",
            type: "get",
            dataType: "json",
            success: function (req) {
                vm.pages = req
                //想办法获取总页数
                console.log(req[0].totalPage)
                // var s = JSON.stringify(req[0].totalPage)
                // s=Number(s)
                vm.len=req[0].totalPage
            }
        })
    }
    //翻页的ajax请求
    let ajaxsplit=function (page) {
        //解决点击前一页 或者点击下一页 点到头的问题
        console.log(page)
        if (page==0){
            alert("不能跳转了！")
        }
        else{
            //发送ajax请求  jQuery的方式发送
            $.ajax({
                url:"http://localhost:8080//ajaxSplitVideo",
                // data:{"page":page},
                data:{"pageNum":page},
                type:"post",
                dataType:"json",
                success: function (req){
                    console.log(req)
                    // alert("成功")
                    vm.clazzs = req.list
                    vm.pages=req.pages
                    vm.pageNum=req.pageNum
                    vm.prePage=req.prePage
                    vm.nextPage=req.nextPage
                },
                error:function (){
                    alert("失败")

                }


            });
        }
    }
    //单个删除操作
    let deleteSingle=function (pid){
        alert("删除成功！")
        // alert("删除按钮点击成功"+pid)
        //目标 单击删除按钮 触发ajax请求 先发送一个删除的请求 再发送一个查询的请求 展示界面
        $.ajax({
            // url:"/prod/delete.action?pid="+pid+"&pageNum"+pageNum,
            url:"http://localhost:8080/deleteSingleVideo",
            data:{"videoId":pid},
            type:"post",
            dataType:"json",
            success:function (req){
                //删除完毕之后重写获取数据 现在前段需要再次获取数据 有后端之后 无需再次请求 直接获取数据即可
                vm.clazzs = req.list
                vm.pages=req.pages
                vm.pageNum=req.pageNum
                vm.prePage=req.prePage
                vm.nextPage=req.nextPage
            },
        });
    }
    //批量删除的操作
    let deleteAll=function (){
        //得到所有选中复选框的对象,根据其长度判断是否有选中商品
        var input = $("input[name='ck']:checked")
        var pid=""
        var str=new Array();
        if (input.length==0){
            alert("请先勾选要删除的课程！")
        }else {
            $.each(input,function (){
                alert(input.val())
                pid=$(this).val()
                if (pid!=null){
                    str.push(pid)
                }
            })
            var videoIds = str.toString();
            alert("您确定要删除"+str+"条课程吗？")
            $.ajax({
                url:"http://localhost:8080/deleteAllvideo",
                type:"post",
                dataType:"json",
                data:{
                    "videoIds":videoIds
                },
                success:function (req){
                    vm.clazzs = req.list
                    vm.pages=req.pages
                    vm.pageNum=req.pageNum
                    vm.prePage=req.prePage
                    vm.nextPage=req.nextPage
                },
                error: function (){
                    alert(str)
                    window.location.href="manageClass.html"
                }
            })
        }
    }
    //查询课程
    function findClass(e){
        //阻止表单提交事件 Ajax异步提交
        e.preventDefault()
        var val = $("input[name='ClassName']").val();
        // alert(val)
        $.ajax({
            url:"http://localhost:8080//selectByname",
            type:"post",
            dataType:"json",
            data:{"videoName":val},
            success:function (req){
                vm.clazzs = req.list
                vm.pages=req.pages
                vm.pageNum=req.pageNum
                vm.prePage=req.prePage
                vm.nextPage=req.nextPage
            },
            error:function (){
                // alert("查找成功！")
                // getClazz()
            }
        })
    }
    //编辑按钮需要带参数跳转
    function edit(video_id,pageNum){

        sessionStorage.setItem("videoId",video_id)
        sessionStorage.setItem("pageNum",pageNum)
        // Class_id=video_id

        // Class_id=video_id
        // alert(Class_id)
        // window.location.href="updateClass.html?class="+video_id
        window.location.href="updateClass.html"
    }
</script>
<body>
<div id="brall">
    <div id="nav">
        <p>课程管理>课程列表</p>
    </div>
    <div id="condition" style="text-align: center">
        <form id="myform" onsubmit="findClass(event)">
            课程名称：<input name="ClassName" id="pname">&nbsp;&nbsp;&nbsp;
            <input type="submit" value="提交" >
        </form>
    </div>
    <br>
    <div id="table">
        <div id="top">
            <input type="checkbox" id="all" onclick="allClick()" style="margin-left: 50px">&nbsp;&nbsp;全选&nbsp&nbsp&nbsp&nbsp
            <a href="addClass.html">
                <input type="button" class="btn btn-warning" id="btn3"
                       value="新增课程">
            </a>
            <input type="button" class="btn btn-warning" id="btn2" name="delall"
                   value="批量删除" v-on:click="deleteAll()">
        </div>
        <!--显示分页后的课程-->
        <div id="middle">
            <table class="table table-bordered table-striped">
                <tr>
                    <th></th>
                    <th>视频名称</th>
                    <th>视频介绍</th>
                    <th>时长</th>
                    <th>上传时间</th>
                    <th>点击量</th>
                    <th>视频地址</th>
                    <th>封面地址</th>
                    <th>用户id</th>
                    <th>类型1</th>
                    <th>类型2</th>
                    <th>价格</th>
                    <th>操作</th>
                </tr>
                <tr v-for="clazz in clazzs">
                    <td valign="center" align="center"><input v-bind:value="clazz.videoId" type="checkbox" name="ck" id="ck" onclick="ckClick()"></td>
                    <td>{{clazz.videoName}}</td>
                    <td>{{clazz.videoDescription}}</td>
                    <td>{{clazz.videoTime}}</td>
                    <td>{{clazz.videoUpdateTime}}</td>
                    <td>{{clazz.videoClick}}</td>
                    <td>{{clazz.videoPath}}</td>
                    <td>{{clazz.videoPicturePath}}</td>
                    <td>{{clazz.userId}}</td>
                    <td>{{clazz.videoFirsttypeId}}</td>
                    <td>{{clazz.videoSecondtypeId}}</td>
                    <td>{{clazz.videoPrice}}</td>
                    <td>
                        <button type="button" class="btn btn-info" v-on:click="edit(clazz.videoId,pageNum)">编辑
                        </button>
                        <button type="button" class="btn btn-warning" id="mydel" name="mydel" v-on:click="deleteSingle(clazz.videoId)">删除
                        </button>
                    </td>
                </tr>
            </table>
            <!--分页栏-->
            <!--需要分页的信息-->
            <div id="bottom" >
                <div>
                    <nav aria-label="..." style="text-align:center;">
                        <ul class="pagination">
                            <li>
                                <a aria-label="Previous" v-on:click="ajaxsplit(prePage)">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>
                            <li >
                                <a v-for="index of pages" v-bind:style="Mycolor(index,pageNum)" v-on:click="ajaxsplit(index)">
                                    <span aria-hidden="true" >{{index}}</span>
                                </a>
                            </li>
                            <li>

                                <a name="next" href="#" aria-label="Next" v-on:click="ajaxsplit(nextPage)">
                                    <span aria-hidden="true" >»</span>
                                </a>
                            </li>
                            <li style=" margin-left:150px;color: #0e90d2;height: 35px; line-height: 35px;">总共&nbsp;&nbsp;&nbsp;{{pages}}<font
                                    style="color:orange;"></font>&nbsp;&nbsp;&nbsp;页&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                当前&nbsp;{{pageNum}}&nbsp;&nbsp;<font
                                        style="color:orange;"></font>&nbsp;&nbsp;&nbsp;页&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
<script>
    //设置当前页的颜色加深
    function Mycolor(i,b){
        if (i==b){
            return vm.backgroundColor
        }
        else {
            return vm.backgroundColor2
        }
    }
    //异步填充
    let vm = new Vue({
        el: "#brall",
        data: {
            pages:0,
            pageNum:0,
            prePage:0,
            nextPage:0,
            clazzs: [],
            backgroundColor:"backgroundColor:#AEEBFF",
            backgroundColor2:"backgroundColor:white"
        },
        methods:{



        },
        mounted: function () {
            //获取课程信息
            getClazz()
            // $.ajax({
            //     url: "http://localhost:3000/class",
            //     type: "get",
            //     dataType: "json",
            //     success: function (req) {
            //         vm.clazzs = req
            //     }
            // })
            //获取分页信息
            // getPage()

        },
    })
</script>
</html>

