<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/addBook.css"/>
    <script type="text/javascript" src="js/Use_id.js"></script>
    <script src="js/vue.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/ajaxfileupload.js"></script>
</head>
<body>
<div id="addAll">
    <div id="nav">
        <p>课程管理>编辑课程</p>
    </div>

    <div id="table">
        <form id="myform" onsubmit="submitNo(event)" action="manageUser.html">
            <table>
                <tr>
                    <td class="one">视频名称</td>
                    <td><input v-model="video_name" type="text" name="pName" class="two" v-bind:value="video_name"></td>
                </tr>
                <tr></tr>
                <tr>
                    <td class="one">描述</td>
                    <td><input v-model="description" type="text" name="pContent" class="two" v-bind:value="description"></td>
                </tr>
                <tr></tr>
                <tr>
                    <td class="one">时长</td>
                    <td><input v-model="time" type="text" name="pPrice" class="two" v-bind:value="time"></td>
                </tr>
                <tr>
                    <td class="one">上传时间</td>
                    <td><input v-model="load_time" type="textr" name="pPrice" class="two" v-bind:value="load_time"></td>
                </tr>
                <tr>
                    <td class="one">点击量</td>
                    <td><input v-model="click" type="text" name="pPrice" class="two" v-bind:value="click"></td>
                </tr>
                <tr>
                    <td class="one">视频存放路径</td>
                    <td><input v-model="video_path" type="text" name="pPrice" class="two" v-bind:value="video_path"></td>
                </tr>
                <tr>
                    <td class="one">封面存放路径</td>
                    <td><input v-model="picture_path" type="text" name="pPrice" class="two" v-bind:value="picture_path"></td>
                </tr>
                <tr>
                    <td class="one">上传用户id</td>
                    <td><input v-model="user_id" type="text" name="pPrice" class="two" v-bind:value="user_id"></td>
                </tr>
                <tr>
                    <td class="one">类型1</td>
                    <td><input v-model="type_id" type="text" name="pPrice" class="two" v-bind:value="type_id"></td>
                </tr>
                <tr>
                    <td class="one">类型2</td>
                    <td><input v-model="type_id2" type="text" name="pPrice" class="two" v-bind:value="type_id2"></td>
                </tr>
                <tr>
                    <td class="one">价格</td>
                    <td><input v-model="price" type="text" name="pPrice" class="two" v-bind:value="price"></td>
                </tr>
                <tr></tr>
                <tr>
                    <td>
                        <input type="submit" value="提交" class="btn btn-success">
                    </td>
                    <td>
                        <input type="reset" value="取消" class="btn btn-default" onclick="myclose()">
                        <script type="text/javascript">
                            function myclose() {
                                // window.location = "/prod/split.action?page=" + ispage;
                                //两种风格跳转
                                // window.location = "manageUser.html" ;
                                window.location = "manageClass.html" ;
                            }
                        </script>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
<script>
    let vm = new Vue({
        el:"#addAll",
        data:{
            video_id:1,
            video_name:"java零基础",
            description:"适合java零基础的学生学习",
            time:"20mins",
            load_time:"2021-9-18",
            click:10000,
            video_path:"baidu.com",
            picture_path:"4399.com",
            user_id:98,
            type_id:34,
            type_id2:0,
            price:"100元"
        },
        mounted:function (){
            var videoId = sessionStorage.getItem("videoId");
            $.ajax({
                url: "http://localhost:8080//edit",
                type: "post",
                //数据回显
                data:{"videoId":videoId},
                dataType: "json",
                success: function (req) {
                    //接收数据 数组
                        vm.video_id=req.videoId
                        vm.video_name=req.videoName
                        vm.description=req.videoDescription
                        vm.time=req.videoTime
                        vm.load_time=req.videoUpdateTime
                        vm.click=req.videoClick
                        vm.video_path=req.videoPath
                        vm.picture_path=req.videoPicturePath
                        vm.user_id=req.userId
                        vm.type_id=req.videoFirsttypeId
                        vm.price=req.videoPrice
                        vm.type_id2=req.videoSecondtypeId
                        console.log(req)
                },
                error:function (req){
                    alert("失败")
                    console.log(req)
                }

            })

        }
    })
    //表单的异步提交
    function submitNo(e){
        e.preventDefault()
        // console.log(vm.cName)
        // var video = new Object();
        // var video={"videoId":vm.video_id,"videoName":vm.video_name,"videoDescription":vm.description,
        //     "videoTime":vm.time,"videoUpdateTime":vm.load_time,"videoClick":vm.click,"videoPath":vm.video_path,"videoPicturePath":vm.picture_path,"userId":vm.user_id,
        //     "videoFirstttypeId":vm.type_id,"videoPrice":vm.price
        // }
        // var s = JSON.stringify(video);
        $.ajax({
            url:"http://localhost:8080/submit",
            type: "post",
            dataType:"text",
            data:{
                "videoId":vm.video_id,
                "videoName":vm.video_name,
                "videoDescription":vm.description,
                 "videoTime":vm.time,
                 "videoUpdateTime":vm.load_time,
                 "videoClick":vm.click,
                 "videoPath":vm.video_path,
                 "videoPicturePath":vm.picture_path,
                 "userId":vm.user_id,
                 "videoFirsttypeId":vm.type_id,
                 "videoPrice":vm.price,
                 "videoSecondtypeId":vm.type_id2

            },
            success:function (req){
                alert(req)
                window.location.href="manageClass.html"
            },
            error:function (req){
                alert(req)
                window.location.href="manageClass.html"
            }
        })
    }
</script>
</html>