<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/addBook.css"/>
    <script type="text/javascript" src="js/Use_id.js"></script>
    <script src="js/vue.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/ajaxfileupload.js"></script>
</head>
<body>
<!--取出上一个页面上带来的page的值-->

<div id="addAll">
    <div id="nav">
        <p>用户管理>编辑用户</p>
    </div>

    <div id="table">
        <form id="myform" onsubmit="submitNo(event)" action="manageUser.html">
            <table>
                <tr>
                    <td class="one">用户id</td>
                    <td><input v-model="user_id" type="text" name="pName" class="two" v-bind:value="user_id"></td>
                </tr>
                <tr></tr>
                <tr>
                    <td class="one">登录账号</td>
                    <td><input v-model="user_log_id" type="text" name="pContent" class="two" v-bind:value="user_log_id"></td>
                </tr>
                <tr>
                    <td class="one">密码</td>
                    <td><input v-model="user_password" type="text" name="pContent" class="two" v-bind:value="user_password"></td>
                </tr>
                <tr>
                    <td class="one">邮箱</td>
                    <td><input v-model="user_email" type="text" name="pContent" class="two" v-bind:value="user_email"></td>
                </tr>
                <tr>
                    <td class="one">昵称</td>
                    <td><input v-model="user_name" type="text" name="pContent" class="two" v-bind:value="user_name"></td>
                </tr>
                <tr>
                    <td class="one">头像地址</td>
                    <td><input v-model="user_header" type="text" name="pContent" class="two" v-bind:value="user_header"></td>
                </tr>
                <tr>
                    <td class="one">性别</td>
                    <td><input v-model="user_sex" type="text" name="pContent" class="two" v-bind:value="user_sex"></td>
                </tr>
                <tr>
                    <td class="one">登录状态</td>
                    <td><input v-model="state" type="text" name="pContent" class="two" v-bind:value="state"></td>
                </tr>
                <tr></tr>
                <tr>
                    <td>
                        <input type="submit" value="提交" class="btn btn-success">
                    </td>
                    <td>
                        <input type="reset" value="取消" class="btn btn-default" onclick="myclose()">
                        <script type="text/javascript">
                            function myclose(ispage) {
                                // window.location = "/prod/split.action?page=" + ispage;
                                //两种风格跳转
                                // window.location = "manageUser.html" ;
                                window.location = "manageUser.html" ;
                            }
                        </script>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

</body>
<script>
    let vm = new Vue({
        el:"#addAll",
        data:{
            user_id:0,
            user_log_id:0,
            user_password:"",
            user_email:"",
            user_name:"",
            user_header:"",
            user_sex:"",
            state:"在线"
        },
        mounted:function (){
            // alert(sessionStorage.getItem("userId"))
            var item = sessionStorage.getItem("userId");
            $.ajax({
                url: "http://localhost:8080//editUser",
                type: "post",
                //根据userid回显数据
                data:{"userId":item},
                // data:{"vide_id":User_id},
                dataType: "json",
                success: function (req) {
                    //接收数据 数组
                        vm.user_id=req.userId
                        vm.user_log_id=req.userLogId
                        vm.user_password=req.userPassword
                        vm.user_email=req.userEmail
                        vm.user_name=req.userName
                        vm.user_header=req.userHeader
                        vm.user_sex=req.userSex
                        vm.state=req.state
                }
            })

        }
    })
    //表单的异步提交
    function submitNo(e){
        e.preventDefault()
        $.ajax({
            url:"http://localhost:8080/updateUser",
            type: "post",
            dataType:"text",
            data:{
                // obj:{"cName":vm.cName,"cid":vm.cid,"cPrice":vm.cPrice,"cNo":vm.cNo}
                "userId":vm.user_id,
                "userLogId":vm.user_log_id,
                "userPassword":vm.user_password,
                "userEmail":vm.user_email,
                "userName":vm.user_name,
                "userHeader":vm.user_header,
                "userSex":vm.user_sex,
                "state":vm.state
            },
            success:function (){
                // alert("成功")
                window.location.href="manageUser.html"
            },
            error:function (){
                alert("失败")
            }
        })
    }
</script>
</html>