<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/css.css">
    <script src="../js/jquery-3.3.1.js"></script>
    <script src="../js/vue.js"></script>
    <script>
        let currentFirstType="";
        let currentSecondType="";
        $(function () {
            $.ajax({
                url: "../totalCourse.json",
                dataType: "json",
                success: function (date) {
                    app.context = date.context;
                    app1.page = date.page;
                    app3.firstType = date.FirstType;
                }
            })
        })
        function f2() {
            $.ajax({
                url: "../totalCourse.json",
                data: {"pageNum":app1.page.pageNum},
                dataType: "json",
                success: function (date) {
                    app.context = date.context;
                    app1.page = date.page;
                }
            })
        }
        function f5() {
            $.ajax({
                url: "../totalCourse.json",//最新，最热，最火请求链接不同
                data: {"currentFirstType": currentFirstType,"currentSecondType": currentSecondType},
                dataType: "json",
                success: function (date) {
                    app.context=date.context;
                    app1.page=date.page;
                }
            })
        }
    </script>
</head>
<body>
<div class="header">
    <div class="relative center">
        <div class="log-con absolute">
            <a href="/" class="logo relative">
                <img src="../images/img_2.png" width="160px" height="38px">
            </a>
        </div>
        <div class="slogan">
            <div class="slogan-s"></div>
        </div>
        <div class="header-search">
            <form action="/">
                <div class="header-search-input-wrap">
                    <input type="text" class="header-search-input" placeholder="搜索课程" v-model="select_text">
                    <span class="header-search-icon" v-on:click="f3()"></span>
                </div>
            </form>
        </div>
        <div class="float-right">
            <ul class="list">
                <li class="active">
                    <a href="home.html">首页</a>
                </li>
                <li>
                    <a href="#" class="course">全部课程</a>
                </li>
            </ul>
        </div>
        <div class="absolute login-box">
            <p>
                <span class="bg-icon"></span>
                <a href="login.html">登录</a>
                <span>/</span>
                <a href="register.html">注册</a>
            </p>
        </div>
    </div>
</div>
<div class="es-banner">
    <div class="container">
        <div class="title">课程列表</div>
        <div class="more">
            <a href="javascript:void(0);" class="btn btn-lg btn-primary" onclick="f5()">查看免费课</a>
        </div>
    </div>
</div>
<div class="content-container">
    <div class="tabs-wrapper">
        <div class="tabs-mark-group plm ptm">
            <div class="title">所有分类:</div>
        </div>
        <div class="tabs-group" style="border-bottom: 1px dashed #e4ecf3;">
            <div class="title">分类:</div>
            <ul class="content">
                <li v-for="firstType in firstType"><a href="javascript:void(0);" v-on:click="f(firstType.firstTypeId)">{{firstType.firstTypeName}}</a>
                </li><!--style="color: #61b13b"-->
            </ul>
        </div>
        <div class="tabs-group">
            <ul class="content">
                <li v-for="secondType in secondType"><a href="javascript:void(0);" v-on:click="f1(secondType.secondTypeId)">{{secondType.secondTypeName}}</a></li>
            </ul>
        </div>
    </div>
    <div class="es-filter">
        <ul class="nav nav-sort">
            <li><a href="javascript:void(0);" class="active" style="color: white" onclick="f5()">最新</a></li>
            <li><a href="javascript:void(0);" onclick="f5()">最热</a></li>
            <li><a href="javascript:void(0);" onclick="f5()">推荐</a></li>
        </ul>
        <div class="filter">
            <label class="checkbox-inline">
                <input type="checkbox" v-model="checked" v-on:change="f4()">推荐课程
            </label>
        </div>
    </div>
    <div class="row" id="row-total">
        <div class="course-item-wrap" v-for="context in context">
            <div class="course-img">
                <a v-bind:href="context.videoPath">
                    <img v-bind:src="context.picturePath" v-bind:alt="context.videoName">
                </a>
            </div>
            <div class="course-info">
                <div class="title">
                    <a v-bind:href="context.videoPath"
                       style="color: black; text-decoration: none">{{context.videoName}}</a>
                </div>
                <div class="metas">
                    <span><div class="es-icon"><img v-bind:src="context.picturePath"></div>{{context.click}}</span>
                    <span class="course-price-widget">
                        <span class="free">{{context.price}}</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <ul class="pagination">
            <!--            <li><a href="/" style="color: white;background-color: #43bc60">1</a></li>-->
            <div>
                <li><a href="javascript:void(0);" v-for="page of page.totalPage" onclick="f2()">{{page}}</a></li>
            </div>
            <li><a href="javascript:void(0);" class="pagination-img" onclick="f2()"><img src="../images/img_5.png"></a>
            </li>
            <li><a href="javascript:void(0);" class="pagination-img" onclick="f2()"><img src="../images/img_6.png"></a>
            </li>
        </ul>
    </div>
</div>
<div class="sgg_bot">
    <div class="sgg_bot1">
        <div class="sgg_bot1-top-big">
            <div class="sgg-bot1-top">
                <div class="sgg-bot1-top-img">
                    <img src="../images/img_7.png">
                    名师亲自授课
                </div>
                <div class="sgg-bot1-top-img">
                    <img src="../images/img_8.png">
                    前沿技术实时更新
                </div>
                <div class="sgg-bot1-top-img sgg-bot1-top-lastImg">
                    <img src="../images/img_9.png">
                    足不出户学编程
                </div>
            </div>
        </div>
        <div class="sgg_bot1-bottom-big">
            <ul>
                <li><p>新手入门</p></li>
                <li><a href="register.html">新用户注册</a></li>
                <li><a href="login.html">用户登录</a></li>
                <li><a href="/">找回密码</a></li>
            </ul>
            <ul>
                <li><p>关于我们</p></li>
                <li><a href="/">名师团队</a></li>
                <li><a href="/">视频在线观看</a></li>
                <li><a href="/">合作企业</a></li>
            </ul>
            <ul>
                <li><p>联系我们</p></li>
                <li><a href="/">工作机会</a></li>
                <li><a href="/">上传视频</a></li>
                <li><a href="/">联系方式</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="sgg-bot2-bottom"></div>
<div class="toolbar-box">
    <div class="model line-img">
        <a href="/"></a>
    </div>
    <div class="tool-line"></div>
    <div class="model return-img">
        <a href="#"></a>
    </div>
</div>
</body>
</html>
<script>
    let app = new Vue({
        el: "#row-total",
        data: {
            context: []
        }
    });
    let app1 = new Vue({
        el: ".text-center",
        data: {
            page: []
        }
    })
    let app2 = new Vue({
        el: ".header-search",
        data: {
            select_text: ""
        },
        methods: {
            f3: function () {
                if (app2.select_text !== "") {
                    $.ajax({
                        url: "../totalCourse.json",
                        data: {"text": app2.select_text},
                        dataType: "json",
                        success: function (date) {
                            app.context = date.context;
                            app1.page = date.page;
                            app3.firstType = date.FirstType;
                        }
                    })
                }
            }
        }
    })
    let app3 = new Vue({
        el: ".tabs-wrapper",
        data: {
            firstType: [],
            secondType: [],
        },
        methods: {
            f: function (firstTypeId) {
                currentFirstType=firstTypeId;
                $.ajax({
                    url: "../totalCourse.json",
                    data: {"firstTypeId": firstTypeId},
                    dataType: "json",
                    success: function (date) {
                        app3.secondType = date.SecondType;
                        app.context = date.context;
                        app1.page = date.page;
                        console.log(app3.firstTypeId)
                    }
                })
            },
            f1: function (secondTypeId) {
                currentSecondType=secondTypeId;
                $.ajax({
                    url: "../totalCourse.json",
                    data: {"secondTypeId": secondTypeId},
                    dataType: "json",
                    success: function (date) {
                        app.context = date.context;
                        app1.page = date.page;
                    }
                })
            }
        }
    })
    let app4 = new Vue({
        el: ".es-filter",
        data: {
            checked: ""
        },
        methods: {
            f4: function () {
                if (app4.checked === true) {
                    $.ajax({
                        url: "../totalCourse.json",//查当前type下点击量最高的
                        data: {"currentFirstType": currentFirstType, "currentSecondType": currentSecondType},
                        dataType: "json",
                        success: function (date) {
                            app.context = date.context;
                            app1.page = date.page;
                        }
                    })
                } else {
                    $.ajax({
                        url: "../totalCourse.json",//查当前type下所有
                        data: {"currentFirstType": currentFirstType, "currentSecondType": currentSecondType},
                        dataType: "json",
                        success: function (date) {
                            app.context = date.context;
                            app1.page = date.page;
                        }
                    })
                }
            }
        }
    })
</script>