<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/crouse.css">
    <script src="../js/jquery-3.3.1.js"></script>
    <script src="http://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../js/vue.js"></script>
    <script>
        $(function () {
            var app = new Vue({
                el:".es-wrap",
                data:{
                    videoName:"",
                    clicks:0,
                    price:"",
                    description:"",
                    videoPath:"",
                    picturePath:"",
                    contentss:[],
                    hotVideo:[],
                    searchName:""
                },
                methods:{
                    getCourse:function () {//回车搜索课程

                    },
                    collection:function () {//点击收藏
                        
                    }
                },
                mounted:function () {
                    axios.get("http://localhost:3000/course")
                    .then(resp => {
                        this.videoName=resp.data[0].videoName
                        this.price=resp.data[0].price
                        this.description=resp.data[0].description
                        this.videoPath=resp.data[0].videoPath
                        this.picturePath=resp.data[0].picturePath
                        this.clicks=resp.data[0].clicks
                    }).catch(function () {})
                    axios.get("http://localhost:3000/otherVideo")
                        .then(resp => {
                            this.contentss=resp.data
                        }).catch(function () {})
                    axios.get("http://localhost:3000/hotVideo")
                        .then(resp => {
                            this.hotVideo=resp.data
                        }).catch(function () {})
                }
            })
        })
    </script>
</head>
<body class="es-main-default es-nav-default ">
<div class="es-wrap">
    <header class="header">
        <div class="relative h-con">
            <div class="logo-con absolute">
                <a href="/" class="logo relative" id="logo">
                    <img src="../img/SavedPictures/logo-green1.png" width="160" height="38">
                </a>
            </div>
            <div class="slogan">
                <div class="slogan-t"></div>
                <div class="slogan-t"></div>
            </div>
            <div class="header-search">
                <form action=" " method="get" id="searchForm">
                    <div class="header-search-input-wrap">
                        <input type="text" @keyup.enter="getCourse" v-model="searchName"  class="js-header-search header-search-input" placeholder="搜索课程">
                        <span class="header-search-icon"></span>
                    </div>
                </form>
            </div>
            <div class="main-width relative main-width-q">
                <nav class="float-right">
                    <ul class="nav-list">
                        <li><a href="home.html" class="active">首页</a></li>
                        <li class="relative">
                            <a class=" nav-course" href="course1.html">全部课程</a>
                        </li>
                    </ul>
                </nav>
                <div class="absolute login-box login-before">
                    <p>
                        <span class="bg-icon"></span>
                        <a href="login.html">登录</a>
                        <span>/</span>
                        <a href="register.html">注册</a>
                    </p>
                </div>
            </div>
        </div>
    </header>
    <div class="cd-container">
        <div class="product-breadcrumb"><a href="home.html">首页</a> / {{videoName}}</div>
        <div class="product-detail clearfix">
            <div class="product-detail__left detail-left pull-left">
                <div class="detail-left__img"><img
                        :src="picturePath" alt="" width="500" height="260"></div>
                <ul class="detail-left__text clearfix">
                    <li class="pull-left"><i class="es-icon es-icon-friends mrs"></i> <span>
                播放量 {{clicks}}
                </span></li>
                    <li class="pull-right">
                        <span class="detail-hover-span" style="cursor: pointer" @click="collection">
                            <i class="es-icon es-icon-favoriteoutline mrs"></i>收藏</span>
                    </li>
                </ul>
            </div>
            <div class="product-detail__right detail-right pull-right">
                <div class="detail-right__box"><p class="detail-right__title">{{videoName}}</p>
                    <p class="detail-right__subtitle">{{videoName}}</p>
                    <div class="detail-right__price">
                        <div class="detail-right__price__free">
                            价格
                            <span class="free">{{price}}</span>
                        </div>
                    </div>
                </div>
                <div data-v-e7cf56f6="">
                    <div data-v-e7cf56f6="" class="clearfix">
                        <span data-v-e7cf56f6="">
                            <span
                                    data-v-e7cf56f6=""><a data-v-e7cf56f6="" href="#info-left-2"
                                    class="goods-btn-hover pull-right product-detail__btn">开始学习</a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div><!--照片-->
        <div class="product-info clearfix">
            <div class="product-info__left info-left pull-left">
                <ul class="info-left__nav" id="info-left">
                    <li class="active"><a href="#info-left">商品介绍</a></li>
                    <li class=""><a href="#info-left-2">学习目录</a></li>
                </ul>
                <div class="info-left__content">
                    <div id="info-left-1" class="content-item js-content-item"><h3 class="content-item__title">商品介绍</h3>
                        <div class="description-content" style="padding-left: 14px; padding-top: 10px;">
                            <p>{{description}}</p>
                        </div>
                    </div><!--商品介绍-->
                    <div id="info-left-2" class="content-item js-content-item"><h3 class="content-item__title">学习目录</h3>
                        <div class="course-tasks-content" >
                            <div data-url="/course/453/task/list/render/default" class="js-tasks-show goods-task-list">
                                <div class="course-detail-content js-course-detail-content" >

                                    <ul class="task-list task-list-md task-list-hover infinite-container" >
                                        <li class="task-item task-content mouse-control infinite-item color-gray"
                                            display-if="true" v-for="(item,index) in contentss">
                                            <a display-if="true" class="title" :href="item.videoPath" data-toggle="modal"
                                               data-url="/course/453/task/20176/preview" style="margin-top:-6px">
                                                <span display-if="1" class="label label-success mr10">{{index+1}}</span>
                                                {{item.videoName}}</a>
                                            <span class="right-menu mouse-enter">
                                                <a class="btn btn-primary" :href="item.videoPath" data-toggle="modal"
                                                   data-url="/course/453/task/20176/preview"
                                                   style="margin-top:-6px">{{item.videoTime}}</a>
                                            </span>
                                        </li>
                                    </ul>
                                    <div class="js-down-loading-more" style="min-height: 1px"></div>

                                </div>
                            </div>
                        </div>
                    </div><!--学习目录-->
                </div>
            </div>
            <div class="product-info__right pull-right">
                <div class="info-right-learn info-right-box">
                    <div class="title">猜你想学</div>
                    <div class="learn-info">
                        <div>
                            <div class="learn-info-item learn clearfix" v-for="item in hotVideo">
                                <div class="learn-img pull-left"><a href="crouse.html"><img
                                        :src="item.picturePath"
                                        alt=""></a>
                                </div>
                                <div class="learn-text pull-right"><p class="learn-text__title">
                                    {{item.videoName}}</p>
                                    <p class="text-overflow learn-text__p"><span>
                                        <span class="learn-text__price price">{{item.price}}</span>
                                    </span></p>
                                </div>
                            </div>
                            <div class="learn-more"><a target="_blank" href="course1.html">查看更多
                                <i class="es-icon es-icon-chevronright"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--猜你想学-->
        </div>
        <div class="back-to-top-pc" style="display: none;"><i class="es-icon es-icon-sticky"></i></div>
    </div>
</div>
<div class="sgg_bot">
    <div class="sgg_bot1">
        <div class="sgg_bot1topbig">
            <div class="sgg_bot1top">
                <div class="sgg_bottopimg"><img src="../img/SavedPictures/bot1.png">业界大牛亲自授课</div>
                <div class="sgg_bottopimg"><img src="../img/SavedPictures/bot2.png">前沿技术实时更新</div>
                <div class="sgg_bottopimg sgg_bottopimg3"><img src="../img/SavedPictures/bot3.png">足不出户学编程</div>
            </div>
        </div>
        <div class="sgg_botcenter">
            <div class="sgg_botleft">
                <ul>
                    <li><b>新手入门</b></li>
                    <li><a href="register.html">新用户注册</a></li>
                    <li><a href="login.html">用户登录</a></li>
                    <li><a href="">找回密码</a></li>
                </ul>
                <ul>
                    <li><b>关于我们</b></li>
                    <li><a href="" target="_blank">名师团队</a></li>
                    <li><a href="" target="_blank">视频下载</a></li>
                    <li><a href="" target="_blank">合作企业</a></li>
                </ul>
                <ul>
                    <li><b>联系我们</b></li>
                    <li>
                        <a href="" target="_blank">工作机会</a></li>
                    <li><a href="" target="_blank">招贤纳师</a></li>
                    <li><a href="/page/contacts" target="_blank">联系方式</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="toolbar">
    <div class="toolbarbox">
        <div class="mobel tb-wx">
            <div class="hidemobelBox">
                <div class="hidemobelBox-content">
                    <img src="/themes/june/img/toolbar/weixin-2.png?version=20.4.6">
                    关注微信
                </div>
            </div>
        </div>
        <div class="tool-line"></div>
        <div class="mobel tb-top">
            <a href="#">
            </a>
        </div>
    </div>
</div>
<div id="login-modal" class="modal" data-url="/login/ajax"></div>
<div id="modal" class="modal"></div>
<div id="attachment-modal" class="modal"></div>
</body>
</html>